.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
h1{
	background-color: grey;
  font-family: Sans;
  font-weight: 5em;
}
ul{
  color: white;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: white; } 
.white{
  color: white;

}